@charset "UTF-8";

body {
    background-color: white;
}

h1 {
    background-color: rgba(161, 105, 20, 0.5);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    text-align: center;
    border-radius: 15px;
    width: 1100px;
    height: 100px;
    color: white;
    margin: auto;
    padding: 25px;
}

h2 {
    color: white;
    position: relative;
    top: -65px;
    bottom: 15px;
    left: 470px;

}

 main {
    background-color: rgba(100, 112, 134, 0.144);
    width: 1100px;
    height: 500px;
    margin: auto;
    border-radius: 20px;


}


nav > a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin: 5px;
    width: 35px;
    height: 90px;
    background-color: rgb(165, 128, 26);
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    color: white;
}
nav {
    margin: 20px;
    text-align: center;
   
}
nav a:hover {
    background-color: rgb(228, 21, 21);
    color: white;
   
    transition: 0.1s;
}

footer {
    background-color: black;
    margin: 0px;
    height: 22px;
    text-align: center;
    color: white;
    

}

#Sports {
    font-size: 30px;
    background-color:bisque;
    height: 500px;
    width: 1390px;
    
    
}

#Sports .container h3 {
    color: black;
    position: relative;
    top: 0px;
    left: 60px ;
    
    
}

#Sports .container p {
    font-size: 20px;
    
}

#Sports .container #manchete {
        width: 300px;
        margin: 15px;
        text-align: justify;
        text-justify: inter-word;

}

#botaomanchetefutebol {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top:-20px;
    left:4px

}

#Sports .container #manchete img {
    width: 280px;
    height: 190px;
}


#Sports .container #manchetebasquete {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-420px;
    left:350px;

}

#Sports .container #manchetebasquete img {
    width: 280px;
    height: 190px;
}

#Sports .container .article #botaomanchetebasquete {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -440px;
    left: 370px;
}

#Sports .container #manchetevolei {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-836px;
    left:700px;

}

#Sports .container #manchetevolei img {
    width: 280px;
    height: 190px;
}

#Sports .container .article #botaomanchetevolei {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -846px;
    left: 720px;
}

#Sports .container #manchetefutsal {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-1240px;
    left:1050px;

}

#Sports .container #manchetefutsal img {
    width: 280px;
    height: 190px;
}

#Sports .container .article #botaomanchetefutsal {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -1265px;
    left: 1070px;
}

#Sports .container #manchetefutsal p {
     position: relative;
     top: -15px;
}

#Entretenimento {
    font-size: 30px;
    background-color:rgb(191, 238, 241);
    height: 500px;
    width: 1390px;
    
    
}

#Entretenimento .container h3 {
    color: black;
    position: relative;
    top: 0px;
    left: 60px ;
    
    
}

#Entretenimento .container p {
    font-size: 20px;
    
}

#Entretenimento .container #mancheteentret1 {
        width: 300px;
        margin: 15px;
        text-align: justify;
        text-justify: inter-word;

}

#botaomancheteentret1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top:-20px;
    left:4px

}

#Entretenimento .container #mancheteentret1 img {
    width: 280px;
    height: 190px;
}

#Entretenimento .container #mancheteentret2 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-420px;
    left:350px;

}

#Entretenimento .container #mancheteentret2 img {
    width: 280px;
    height: 190px;
}

#Entretenimento .container .article #botaomancheteentret2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -440px;
    left: 370px;
}

#Entretenimento .container #mancheteentret3 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-840px;
    left:700px;

}

#Entretenimento .container #mancheteentret3 img {
    width: 280px;
    height: 190px;
}

#Entretenimento .container .article #botaomancheteentret3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -860px;
    left: 720px;
}

#Entretenimento .container #mancheteentret4 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-1260px;
    left:1050px;

}

#Entretenimento .container #mancheteentret4 img {
    width: 280px;
    height: 190px;
}

#Entretenimento .container .article #botaomancheteentret4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -1280px;
    left: 1070px;
}

#Entretenimento .container #mancheteentret4 p {
     position: relative;
     top: -15px;
}

#Eventos {
    font-size: 30px;
    background-color:rgb(235, 178, 178);
    height: 500px;
    width: 1390px;
    
    
}

#Eventos .container h3 {
    color: black;
    position: relative;
    top: 0px;
    left: 60px ;
    
    
}

#Eventos .container p {
    font-size: 20px;
    
}

#Eventos .container #mancheteeventos1 {
        width: 300px;
        margin: 15px;
        text-align: justify;
        text-justify: inter-word;

}

#botaomancheteeventos1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top:-20px;
    left:4px

}

#Eventos .container #mancheteeventos1 img {
    width: 280px;
    height: 190px;
}

#Eventos .container #mancheteeventos2 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-420px;
    left:350px;

}

#Eventos .container #mancheteeventos2 img {
    width: 280px;
    height: 190px;
}

#Eventos .container .article #botaomancheteeventos2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -440px;
    left: 370px;
}

#Eventos .container #mancheteeventos3 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-840px;
    left:700px;

}

#Eventos .container #mancheteeventos3 img {
    width: 280px;
    height: 190px;
}

#Eventos .container .article #botaomancheteeventos3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -860px;
    left: 720px;
}

#Eventos .container #mancheteeventos4 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-1260px;
    left:1050px;

}

#Eventos .container #mancheteeventos4 img {
    width: 280px;
    height: 190px;
}

#Eventos .container .article #botaomancheteeventos4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -1280px;
    left: 1070px;
}

#Eventos .container #mancheteeventos4 p {
     position: relative;
     top: 3px;
}

#Publicidade {
    font-size: 30px;
    background-color:rgb(138, 255, 191);
    height: 500px;
    width: 1390px;
    
    
}

#Publicidade .container h3 {
    color: black;
    position: relative;
    top: 0px;
    left: 60px ;
    
    
}

#Publicidade .container p {
    font-size: 20px;
    
}

#Publicidade .container #manchetepubli1 {
        width: 300px;
        margin: 15px;
        text-align: justify;
        text-justify: inter-word;

}

#botaomanchetepubli1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top:-20px;
    left:4px

}

#Publicidade .container #manchetepubli1 img {
    width: 280px;
    height: 190px;
}

#Publicidade .container #manchetepubli2 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-420px;
    left:350px;

}

#Publicidade .container #manchetepubli2 img {
    width: 280px;
    height: 190px;
}

#Publicidade .container .article #botaomanchetepubli2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -440px;
    left: 370px;
}

#Publicidade .container #manchetepubli3 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-840px;
    left:700px;

}

#Publicidade .container #manchetepubli3 img {
    width: 280px;
    height: 190px;
}

#Publicidade .container .article #botaomanchetepubli3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -860px;
    left: 720px;
}

#Publicidade .container #manchetepubli4 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-1260px;
    left:1050px;

}

#Publicidade .container #manchetepubli4 img {
    width: 280px;
    height: 190px;
}

#Publicidade .container .article #botaomanchetepubli4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -1280px;
    left: 1070px;
}

#Publicidade .container #manchetepubli4 p {
     position: relative;
     top: 3px;
}

#Pessoas {
    font-size: 30px;
    background-color:rgb(247, 255, 128);
    height: 500px;
    width: 1390px;
    
    
}

#Pessoas .container h3 {
    color: black;
    position: relative;
    top: 0px;
    left: 60px ;
    
    
}

#Pessoas .container p {
    font-size: 20px;
    
}

#Pessoas .container #manchetepeople1 {
        width: 300px;
        margin: 15px;
        text-align: justify;
        text-justify: inter-word;

}

#botaomanchetepeople1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top:-20px;
    left:4px

}

#Pessoas .container #manchetepeople1 img {
    width: 280px;
    height: 190px;
}

#Pessoas .container #manchetepeople2 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-420px;
    left:350px;

}

#Pessoas .container #manchetepeople2 img {
    width: 280px;
    height: 190px;
}

#Pessoas .container .article #botaomanchetepeople2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -440px;
    left: 370px;
}

#Pessoas .container #manchetepeople3 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-840px;
    left:700px;

}

#Pessoas .container #manchetepeople3 img {
    width: 280px;
    height: 190px;
}

#Pessoas .container .article #botaomanchetepeople3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -860px;
    left: 720px;
}

#Pessoas .container #manchetepeople4 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-1260px;
    left:1050px;

}

#Pessoas .container #manchetepeople4 img {
    width: 280px;
    height: 190px;
}

#Pessoas .container .article #botaomanchetepeople4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -1280px;
    left: 1070px;
}

#Pessoas .container #manchetepeople4 p {
     position: relative;
     top: 3px;
}

#Loja {
    font-size: 30px;
    background-color:rgb(172, 97, 97);
    height: 500px;
    width: 1390px;
    
    
}

#Loja .container h3 {
    color: black;
    position: relative;
    top: 0px;
    left: 60px ;
    
    
}

#Loja .container p {
    font-size: 20px;
    
}

#Loja .container #mancheteloja1 {
        width: 300px;
        margin: 15px;
        text-align: justify;
        text-justify: inter-word;

}

#botaomancheteloja1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top:-20px;
    left:4px

}

#Loja .container #mancheteloja1 img {
    width: 280px;
    height: 190px;
}

#Loja .container #mancheteloja2 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-420px;
    left:350px;

}

#Loja .container #mancheteloja2 img {
    width: 280px;
    height: 190px;
}

#Loja .container .article #botaomancheteloja2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -440px;
    left: 370px;
}

#Loja .container #mancheteloja3 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-840px;
    left:700px;

}

#Loja .container #mancheteloja3 img {
    width: 280px;
    height: 190px;
}

#Loja .container .article #botaomancheteloja3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -860px;
    left: 720px;
}

#Loja .container #mancheteloja4 {
    width: 300px;
    margin: 15px;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    top:-1260px;
    left:1050px;

}

#Loja .container #mancheteloja4 img {
    width: 280px;
    height: 190px;
}

#Loja .container .article #botaomancheteloja4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px ;
    width: 90px;
    height: 30px;
    position: relative;
    top: -1280px;
    left: 1070px;
}

#Loja .container #mancheteloja4 p {
     position: relative;
     top: 3px;
}


