@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#form-tarefa h1 {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin-left: 100px;
}

#form-tarefa {
    font-family: 'Roboto', sans-serif;
    display: absolute;
    align-items: center;
    margin-left: 50px;
    margin-top: 25px;
    padding: 11px;
    width: 500px;
    background-color: darkgray;
}

#form-tarefa button {
    font-family: 'Roboto', sans-serif;
    width: 80px;
    max-width: 100%;
    align-items: center;
    height: 20px;
    margin-bottom: 5px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#form-tarefa ul {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    display: relative;
    align-items: center;
    margin-left: 100px;
    list-style: none;
    cursor: pointer;
    
}

#input-tarefa {
    margin-left: 100px;
    display: relative;
    align-items: center;
}

.riscarTexto {
    text-decoration: line-through;
    cursor: pointer;
}